.nav-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff33;
}

.logo-score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 80%;
}

.logo-box {
  display: flex;
  flex-direction: row;
}

.score-box {
  display: flex;
  flex-direction: row;
  color: #ffffff;
}

.title {
  color: #6a59ff;
  font-size: 20px;
}

.score {
  margin-right: 10px;
}
